
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
  }
  
:root {
    --white: #fff;
    --gray: #adb5bd;
  }
/*La font-family en el body para que se aplique a todo */
body{
    font-family: 'Raleway', sans-serif;   
}

/*Para todo lo que hay dentro del main*/
.div1principal{
    width: 60%;
    margin: auto;  
}

/*Para la linea horizontal que ocupa todo*/
.lineaFuera{
      border-bottom: .9px solid ;
      color: #bab0b0;
      margin-top: 3em;
      margin-bottom: 3em;
}

/*Para la linea horizontal de dentro (solo ocupa lo que esta en la parte derecha*/
.linea{
    width: 100%;
    height: 1px;
     border-bottom: 
     .5px solid ;
     color: #868282;
     margin-bottom: 3em;
     margin-top: 3em;
}

/*La clase todo es cada div que ocupa cada parte */
.todo{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
    grid-gap: 0.5em 1em #cccccc;
    width: 100%;  
   }

 /*La clase additional solo es para la primera parte*/
.additional {
    text-align: center;
    padding-bottom: 5em;
    padding-top: 5em;
}
/*Para el cuadrado de la palabra for dentro de text*/
.for{
    background-color: #ecf0f1;
    border-radius: .2rem
}

/*Solo es para los headings que tengan un tamaño comcreo de letra*/
 .headings{
    font-size: 2.5em; 
 } 

/*Dar color a los links*/
a{
    color: rgb(58, 57, 57) ;
}

/*Para toda la parte izquierda*/
.left{
   float: left;
    width: 30%;
    padding: 20px;
    font-size:2em;
}

/*Para toda la parte derecha*/
/*.right{
float: right;
padding: 20px;
}*/

/*Para el div que hay dentro de pre code*/
.while{
    background: #ecf0f1;
    width:75%;
    border-radius: .5rem;
}


