* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #adb5bd;
  font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif;
}

body {
  /* width: 100vw; */
  max-width: 1400px;
  /* height: 100vh; */
  margin: auto;
  font-family: "Inter", sans-serif;
}

/* container general gallery */

div.gallery-division {
  margin-top: 4.5em;
}

/* encabezado y parrafo de gallery */

div.head-gallery {
  width: 70vw;
  text-align: center;
  margin: 2em auto;
}

div.head-gallery h2 {
  margin-bottom: 0.8em;
  font-size: 2em;
  font-weight: 200;
}

div.head-gallery p {
  line-height: 1.7em;
  font-size: 0.9rem;
  font-weight: 200;
  color: black;
}

div.head-gallery p a {
  color: black;
}

span.bold {
  font-weight: 400;
}

span.lightbox {
  background-color: rgb(239, 239, 239);
  padding: 0.2em;
  border-radius: 0.2rem;
  font-family: monospace;
  font-weight: lighter;
  color: rgb(94, 94, 94);
}

/* carrete fotos gallery */

div.images-gallery {
  display: flex;
  overflow: hidden;
}

/* comienzo items division */

/* encabezado y parráfo de items */

div.head-items {
  width: 70vw;
  text-align: center;
  margin: 2em auto;
  margin-top: 4em;
}

div.head-items h2 {
  margin-bottom: 0.8em;
  font-weight: 200;
  font-size: 2em;
}

div.head-items p {
  line-height: 1.7em;
  font-size: 0.9rem;
  font-weight: 200;
  color: black;
  margin-bottom: 4em;
}

div.head-items p a {
  color: black;
}

/* items layout */

div.items-layout {
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  justify-content: center;
}

div.box-items {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 3em 2em;
}

/*bordes del grid*/

div.box-items.first,
div.box-items.second,
div.box-items.fourth,
div.box-items.fifth {
  border-bottom: 0.13em solid #ddd;
  border-right: 0.13em solid #ddd;
}

div.box-items.third,
div.box-items.sixth,
div.box-items.nineth,
div.box-items.eighth,
div.box-items.seventh {
  border-bottom: 0.13em solid #ddd;
}

div.box-items.seventh,
div.box-items.eighth,
div.box-items.tenth,
div.box-items.eleventh {
  border-right: 0.13em solid #ddd;
}

div.box-items h5 {
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0.8em 0;
}

/*parrafo dentro de los items*/

div.box-items p {
  text-align: center;
  font-weight: 200;
  margin: auto;
}
/*iconos*/

div.box-items i {
  /* border: 0.1rem solid #ddd; */
  font-size: 1.3em;
  padding: 0.9em;
  border-radius: 50%;
}

span.circle {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* final de items */

div.finishBorder {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10em;
}
