* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #adb5bd;
  font-size: 0.785rem;
  font-family: "Inter", "Source Sans Pro", sans-serif;
  font-weight: 200;
}

/* Iconos */

span.style2 {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}
span.style1 {
  display: block;
  margin-bottom: 1em;
}
div.principaliconos {
  text-align: left;
  width: 75%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
}
div.iconosnormales i {
  padding: 0.5em;
  color: black
}
div.iconosnormales i:hover {
  color: var(--cyan);
}

div.iconoscirculo i {
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 10px;
  border: 1.5px solid gainsboro;
  border-radius: 50%;
  margin: 0.3em;
  color: black
}
div.iconoscirculo i:hover {
  color: var(--cyan);
  border: 1.5px solid var(--cyan);
}
h3.h3texto {
  text-align: left;
}

/*  Botones */

div.fbuttons {
  text-align: left;
  width: 75%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
}
div button {
  border: 1px solid gainsboro;
  padding: 1em;
  border-radius: 1.5em;
  /* margin: 1em; */
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 0.6em;
}
div button:active {
  transform: scale(0.95);
}
div button:hover {
  background-color: var(--cyan);
}
div.buttons1 button {
  padding: 1em 1.5em;
  margin: 1em;
}
div.buttons2 button {
  padding: 0.8em 2em;
  margin: 1em;
}
div.buttons3 button {
  padding: 1.1em 6em;
  margin: 1em;
}
div.buttons4 button {
  font-size: 0.6rem;
  margin: 1em;
  padding: 0.6em 3.8em;
}
div.buttons5 button {
  padding: 1em 2em;
  margin: 1em;
}
button.bblack {
  background-color: black;
  color: white;
}
.bsmall {
  font-size: 0.5em;
  color: #0dcaf0;
  border-color: #0dcaf0;
  border-top-color: gainsboro;
  position: absolute;
}
div.buttons2 button:first-of-type {
  padding-bottom: 1.2em;
}
div.buttons6 button:first-of-type {
  color: var(--white);
  background-color: gainsboro;
}
div.buttons6 button {
  color: gainsboro;
  padding: 1em 1.7em;
  margin: 1em;
}

/* Actions */

div.factions {
  text-align: left;
  width: 75%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
}
div.factions button:hover {
  background-color: var(--cyan);
}
div.actions1 button {
  padding: 1em 1.5em;
  margin: 1em 1em 3em 0;
}
.asmall {
  margin: 1em 1em 2em 0;
  font-size: 1rem;
  background-color: white;
  color: black;
  border-color: black;
}
.asmallblack {
  color: white;
  background-color: black;
  margin: 1em 1em 0em 0;
}
.astacked {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 3em 0;
  width: 6em;
}
.astacked button {
  margin: 1em 1em 1em 0;
}
.astacked button:first-of-type {
  color: white;
  background-color: black;
}
.astackedfit {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 0em 0;
  width: 22em;
}
.astackedfit button {
  margin: 1em 1em 0 0;
}
.astackedfit button:first-of-type {
  color: white;
  background-color: black;
}

/* Formulario */

div.fform {
  text-align: left;
  width: 75%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
}
form div div input{
  border: 1px solid #ececec;
  margin-right: 2em;
  display: inline-block;
}
form div input:focus {
  border: 1px solid var(--cyan);
}
textarea {
  border: 1px solid #ececec;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  box-sizing: border-box;
  width: 100%;
}
textarea:focus {
  border: 1.5px solid var(--cyan);
  text-align: left;
}
form div {
  display: flex;
  flex-direction: row;
}

form div input{
  border-radius: 0.2em;
  padding: 0.2em 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}
div form div.selector {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8em;
}
div form div.selector select#Category {
  background-color: var(--white);
  border: 1px solid #ececec;
  padding: 0.4em;
  margin: 0.9em 0;
}

div form div.selector select#Category:focus {
  border: 1.5px solid var(--cyan);
  border-radius: .3em;
}
div.radios {
  font-size: 0.8em;
  margin-bottom: 2em;
  justify-content: space-between;
}
div.radios div input{
  margin-block: initial;
  margin-right: .6em;
}
div.checks{
  justify-content: space-between;
}
div label.checkbox{
  font-size: .8rem;
}
label.checkbox input{
  margin-right: 1em;
  
}
/* label.checkbox input:last-of-type{
margin-left: 2em;
} */

/* Tabla */
div.ftable {
  text-align: left;
  width: 75%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
}

table tr td{
  border-top: 1.5px solid var(--gray);
  padding: .5em;
  /* border-bottom: 1px solid black; */
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
div.ftable table tr.trgrey{
  background-color: gainsboro;
}
div.ftable table.cuadros tr td{
  border: 1.5px solid var(--gray);
}
div.ftable table.cuadros tr:last-child > td {
  border: 0
}
div.ftable table th{
  text-align: center;
  padding: 1em;
}
form button.disabled{
  margin-top: 3em;
  padding: 1em 1.8em;
} 
