* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #adb5bd;
  font-size: 0.785rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
}

body {
 /*  max-width: 1400px; */
  margin: auto;
  /* font-family: "Inter", sans-serif; */
}
div .item-division{
  max-width: 1400px;
}

header{
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 100%;
}
header img{
  width: 50%;
}
.banner{
  display: flex;
  width: 100%;
  height: 100%;
  border-bottom: .2px solid lightgrey; 
}
.text-banner{
  background-color: #FFFFFF;;
  width: 50vw;
  margin: auto;
  box-sizing: border-box;
  padding: 0 6em;
} 
 .text-banner h1{
  font-size: 5.3rem;
  margin-bottom: 1rem;
}
.text-banner .p1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
} 
.text-banner .p2{
  margin-top: 1.5em;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
} 
.img-banner{
  width: 50vw;
  height: 100vh;
} 
.img-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: -3px 0 7px -5px #333, 5px 0 5px -5px #333;
}

/* Esta class .word afecta en todas las secciones para el efecto de las palabras "onload" y "onscroll".*/
.word{  
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3rem;
  font-weight:300 ;
  background-color: #F2F2F2;
  border-radius: .2em;
  padding: .2rem .5rem; 
  margin: 0 .3rem;
} 
.text-banner button{
  border: 2px solid #DADADA;
  padding: 1.3em 3em;
  margin-top: 2em;
  background-color: white;
  border-radius: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .15rem;
} 

/* "header a" y "header button" afectan a los links y a los botones de todo el header*/
header a:visited{
  color: black;
}
header a:hover{
  color: #A3E9F2; 
  text-decoration: none;
}
header button:hover{
  color: #A3E9F2;
  text-decoration: none;
  border: 2px solid #A3E9F2;
}


/* Todo este css es para la primera sección: "banner". 
Pasamos a la sección 2: "spotlight1".
 */

  .spotlight1{
  display: flex;
  width: 100%;
  height: 60vh;
  border-bottom: .2px solid lightgrey;
} 
 .img-spotlight01 img{
   width: 35vw;
   height: 100%; 
   object-fit: cover;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   position: relative;
 }
.text-spotlight1{
  background-color: #FFFFFF;
  margin: auto;
  padding: 0 6em;
 }
 .text-spotlight1 h2{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
 .text-spotlight1 p{
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.text-spotlight1 button{
  border: 2px solid #DADADA;
  padding: 1.3em 2.5em;
  margin-top: 2.5em;
  background-color: white;
  border-radius: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  letter-spacing: .15rem;
}  

/* Todo este css es para la segunda sección: "spotlight1". 
Pasamos a la sección 3: "spotlight2".
 */

.spotlight2{
  display: flex;
  width: 100%;
  height: 55vh;
  border-bottom: .2px solid lightgrey;
}
.text-spotlight2{
  background-color: #FFFFFF;
  margin: auto;
  padding: 0 6em;
}
 .text-spotlight2 h2{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.text-spotlight2 p{
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.text-spotlight2 button{
  border: 2px solid #DADADA;
  padding: 1.2em 2.5em;
  margin-top: 2.5em;
  background-color: white;
  border-radius: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .13rem;
}
.img-spotlight02 img{
  width: 35vw;
  height: 100%; 
  object-fit: cover;
  box-shadow: -3px 0 7px -5px #333, 5px 0 5px -5px #333;
  position: relative;
 } 
 
/* Todo este css es para la tercera sección: "spotlight2". 
Pasamos a la sección 4: "spotlight3".
 */
.spotlight3{
  display: flex;
  width: 100%;
  height: 60vh;
  border-bottom: .2px solid lightgrey;
}
.text-spotlight3{
  background-color: #FFFFFF;
  margin: auto;
  padding: 0 6em;
}
 .img-spotlight03 img{
   width: 35vw;
   height: 100%; 
   object-fit: cover;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   position: relative;
}
 .text-spotlight3 h2{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.text-spotlight3 p{
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.text-spotlight3 button{
  border: 2px solid #DADADA;
  padding: 1.2em 2.5em;
  margin-top: 2.5em;
  background-color: white;
  border-radius: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .13rem;
} 

/* Final de la última sección. */


/* Parte de criss */

/* container general gallery */

div.gallery-division {
  margin-top: 4.5em;
}

/* encabezado y parrafo de gallery */

div.head-gallery {
  width: 70vw;
  text-align: center;
  margin: 2em auto;
}

div.head-gallery h2 {
  margin-bottom: 0.8em;
  font-size: 3rem;
  font-weight: 200;
}

div.head-gallery p {
  line-height: 1.7em;
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
}

div.head-gallery p a {
  color: black;
}

span.bold {
  font-weight: 400;
}

span.lightbox {
  background-color: rgb(239, 239, 239);
  padding: 0.2em;
  border-radius: 0.2rem;
  font-family: monospace;
  font-weight: lighter;
  color: rgb(94, 94, 94);
}

/* carrete fotos gallery */

div.images-gallery {
  display: flex;
  overflow: hidden;
}

div.slideshow-gallery{
  width: 100%;
}

div.images-gallery div.slideshow-gallery img{
  width: 100%;
  height: auto;
}

/* comienzo items division */

/* encabezado y parráfo de items */

div.head-items {
  width: 70vw;
  text-align: center;
  margin: 2em auto;
  margin-top: 4em;
}

div.head-items h2 {
  margin-bottom: 0.8em;
  font-weight: 200;
  font-size: 3em;
}

div.head-items p {
  line-height: 1.7em;
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  margin-bottom: 4em;
}

div.head-items p a {
  color: black;
}

/* items layout */

div.items-layout {
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  justify-content: center;
}

div.box-items {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 3em 3em;
}

/*bordes del grid*/

div.box-items.first,
div.box-items.second,
div.box-items.fourth,
div.box-items.fifth {
  border-bottom: 0.13em solid #ddd;
  border-right: 0.13em solid #ddd;
}

div.box-items.third,
div.box-items.sixth,
div.box-items.nineth,
div.box-items.eighth,
div.box-items.seventh {
  border-bottom: 0.13em solid #ddd;
}

div.box-items.seventh,
div.box-items.eighth,
div.box-items.tenth,
div.box-items.eleventh {
  border-right: 0.13em solid #ddd;
}

div.box-items h5 {
  font-weight: 300;
  font-size: 2rem;
  padding: 0.8em 0;
}

/*parrafo dentro de los items*/

div.box-items p {
  width: 70%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  margin: auto;
  line-height: 1.5em;
}
/*iconos*/

div.box-items i {
  font-size: 2.5em;
  padding: 0.9em;
  border-radius: 50%;
}

span.circle {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* final de items */

div.finishBorder {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10em;
}

/* parte illia */

/*Para todo lo que hay dentro del main*/
.div1principal{
    /*width: 60%;*/
    max-width: 1400px;
    margin: auto; 
}
/*Para la linea horizontal que ocupa todo*/
.lineaFuera{
      border-bottom: .9px solid ;
      color: #9f9f9f;
      margin-top: 3em;
      margin-bottom: 3em;
}

/*Para la linea horizontal de dentro (solo ocupa lo que esta en la parte derecha*/
.linea{
    width: 100%;
    height: 1px;
     border-bottom: 
     .5px solid ;
     color: #9f9f9f;
    margin-bottom: 1.5em;
     margin-top: 1.5em;
}

/*La clase todo es cada div que ocupa cada parte */
.todo{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
    grid-gap: 0.5em 1em #cccccc;
    width: 100%; 
   }
   /*Tamaño de grosor en los headings*/
   h1{
    font-weight: normal;
   }
   h2{
    font-weight: lighter;
   }
   h3{
    font-weight: lighter;
   }
   h4{
    font-weight: lighter;
   }
   h5{
    font-weight: lighter;
   }
   h6{
    font-weight: lighter;
   }

   .leveluno{
    font-size: 3rem;
   }
  
   /*Tamaño para todos los parrafos*/
   p, i {
    font-size: 1.3rem;
   }
   .unordered{
    font-size: 1.3rem;
    font-weight: lighter;
   }
   .orderedlist{
    font-size: 1.3rem;
    font-weight: lighter;
   }

  
 /*La clase additional solo es para la primera parte*/
.additional {
    text-align: center;
    padding-bottom: 5em;
    padding-top: 5em;
    font-weight: lighter;
}
/*Elements es para darle tamaño a Additional Elements*/
.Elements{
    font-size: 4em;
    margin-bottom: 1em;
    font-weight: normal;
}
/*Para el cuadrado de la palabra for dentro de text*/
.for{
    background-color: #ecf0f1;
    border-radius: .4rem;
    padding: 3px 8px;
}

/*Solo es para los headings */
 .headings{
    font-size: 1.3em; 
    font-weight: lighter;
 } 
 .level{
    margin-bottom: 1em;
    font-size: 2.5rem;
    font-weight: lighter;
 }
 /*Para para los titulos de subtitle*/
 .sub{
    font-size: 2.6rem;
    font-weight: normal;
 }
 .subtitle{
    margin-top: 1.7em;
    font-weight: lighter;
 }
 /*Para ordered list*/
 .ordered{
    margin-top:.8em;
    margin-bottom: .8em;
    font-weight: lighter;
 }

/*Dar color a los links*/
a{
    color: rgb(58, 57, 57) ;
}

/*Para los definition list*/
.definition{
    margin-top:1em;
    margin-bottom: 1em;
    margin-left: 3%;
    font-weight: lighter;
}
/*Linea vertical del blockquote*/
.blockquote{
    border-left:.3em solid rgb(188, 188, 188); 
    padding-left:2em;
    height: 7em;
    display: inline-block;


}

/*Para toda la parte izquierda*/
.left{
    padding: 20px;
    font-size:2em;
    font-weight:normal;
}

/*Para toda la parte derecha*/
.right{
float: right;
padding: 20px;
font-weight: normal;

}

/*Para el div que hay dentro de pre code*/
 .while {
    text-align: left;
    background: #ecf0f1;
    width: 100%;
    border-radius: .5rem;
    font-size: 1.3em;
  }

/* Iconos */

span.style2 {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  letter-spacing: -2px;
}
span.style1 {
  display: block;
  margin-bottom: 1em;
  letter-spacing: -2px;
}
div.principaliconos {
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  font-size: 2.3rem;
}
div.iconosnormales i {
  padding: 0.5em;
  color: black;
}
div.iconosnormales i:hover {
  color: var(--cyan);
}
span.circle {
  width: 70px;
  height: 70px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
div.iconoscirculo i {
  /* width: 1em;
  height: 1em; */
  text-align: left;
  padding: 10px;
  margin: 0.3em;
  color: black;
}
div.iconoscirculo {
  display: flex;
  flex-direction: row;
}
div.iconoscirculo span.circle:hover {
  border: 1.5px solid var(--cyan);
}
div.iconoscirculo span.circle i:hover {
  color: var(--cyan);
}

/*  H3 - Titulos */

h3.h3texto {
  text-align: left;
  font-weight: lighter;
  font-size: 2.3rem;

}

/*  Botones */

div.fbuttons {
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  font-size: 2.3rem;
}
div button {
  border: 1px solid gainsboro;
  padding: 1em;
  border-radius: 1.5em;
  /* margin: 1em; */
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 0.6em;
}
div button:active {
  transform: scale(0.95);
}
div button:hover {
  background-color: var(--cyan);
}
div.buttons1 button {
  padding: 1em 1.5em;
  margin: 1em;
}
div.buttons2 button {
  padding: 1.3em 2.4em;
  margin: 1em;
  border-radius: 3em;
}
div.buttons3 button {
  padding: 1.1em 6em;
  margin: 1em;
}
div.buttons4 button {
  border-radius: 3em;
  margin: 1em;
  padding: 0.6em 3.8em;
}
div.buttons5 button {
  padding: 1em 2em;
  margin: 1em;
}
button.bblack {
  background-color: black;
  color: white;
}
.bsmall:hover {
  color: #ececec;
}
.bsmall {
  font-size: 0.5em;
  color: #0dcaf0;
  border-color: #0dcaf0;
  border-top-color: gainsboro;
  position: absolute;
}
div.buttons2 button:first-of-type {
  padding-bottom: 1.2em;
}
div.buttons6 button:first-of-type {
  color: var(--white);
  background-color: gainsboro;
}
div.buttons6 button:first-of-type:hover {
  color: var(--white);
  background-color: #0dcaf0;
}
div.buttons6 button {
  color: gainsboro;
  padding: 1em 1.7em;
  margin: 1em;
}

/* Actions */

div.factions {
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  font-size: 2.3rem;
}
div.factions button:hover {
  background-color: var(--cyan);
}
div.actions1 button {
  margin: 1em 1em 3em 0;
  padding: 1.3em 3em;
  border-radius: 3em;
}
.asmall {
  margin: 1em 1em 2em 0;
  background-color: white;
  color: black;
  border-color: black;
}
.asmallblack {
  border-radius: 3em;
  color: white;
  background-color: black;
  margin: 1em 1em 0em 0;
  padding: 0.8em 1.5em;
}
.asmallwhite {
  padding: 0.8em 1.5em;
}
.astacked {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 3em 0;
  width: 7em;
}
.astacked button {
  margin: 1em 1em 1em 0;
  padding: 2em 3em;
  border-radius: 3em;
}
.astacked button:first-of-type {
  padding: 2em 3em;
  border-radius: 3em;
  color: white;
  background-color: black;
}
.astackedfit {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 0em 0;
  width: 22em;
}
.astackedfit button {
  margin: 1em 1em 2em 0;
  padding: 2em 3em;
  border-radius: 3em;
}
.astackedfit button:first-of-type {
  color: white;
  background-color: black;
  padding: 2em 3em;
  border-radius: 3em;
}

/* Formulario */

div.fform {
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  font-size: 2rem;
  
}
form div div input {
  border: 1px solid #ececec;
  padding: 1.6em;
  margin-right: 2em;
  min-width: 400px;
  border-radius: 0.3em;
  display: inline-block;
}
form div input:focus {
  border: 1px solid var(--cyan);
}
textarea {
  border: 1px solid #ececec;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  box-sizing: border-box;
  width: 100%;
}
textarea:focus {
  border: 1.5px solid var(--cyan);
  text-align: left;
}
form{
  width: 100%;
}
form div {
  display: flex;
  flex-direction: row;
}
div form div.selector {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8em;
}
div form div.selector select#Category {
  font-size: 1.9rem;
  background-color: var(--white);
  border: 1px solid #ececec;
  padding: 0.4em;
  border-radius: 0.3em;
  margin: 0.9em 0;
}
div form div.selector select#Category:focus {
  border: 1.5px solid var(--cyan);
  border-radius: 0.3em;
}
div.radios {
  font-size: 1.9rem;
  margin-bottom: 2em;
  justify-content: space-between;
}
div.radios div input {
  margin-block: initial;
  margin-right: 0.6em;
}
div.checks label.checkbox {
  /* justify-content: space-around; */
  margin-right: 4em;
  align-content: center;
}
div label.checkbox {
  font-size: 1.9rem;
}
label.checkbox input {
  margin-right: 1em;
}

/* Tabla */
div.ftable {
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  font-size: 2rem;
}
table tr td {
  border-top: 1.5px solid var(--gray);
  padding: 1em 0.5em;
  /* border-bottom: 1px solid black; */
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
div.ftable div div table {
  margin-bottom: 3em;
}
div.ftable table tr.trgrey {
  background-color: gainsboro;
}
div.ftable table.cuadros tr td {
  border: 1.5px solid var(--gray);
}
div.ftable table.cuadros tr:last-child > td {
  border: 0;
}
div.ftable table th {
  text-align: left;
  padding: 1em;
}
form button.disabled {
  margin-top: 3em;
  padding: 1em 1.8em;
}
/* parte pol */

div.imagesCollumnLeft{
  width: 100%;
}

div.imagesLayout,
div.boxLayout {
 /*  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center; */
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 3em 0;
  border-bottom: 2px solid #ececec;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  font-size: 2rem;
}

div.imagesCollumnLeft,
div.boxCollumnLeft {
  width: 300px;
}

div.imagesCollumnRight,
div.boxCollumnRight {
  width: 700px;
}

div.fitSection img{
  max-width: 800px;
  height: auto;
  margin: 1rem 0 1.5rem 0;
}

div.imagesCollumnLeft h4{
  font-size: 1.8rem;
  font-weight: 300;
}

div.imagesCollumnRight h4{
  font-size: 1.5rem;
  font-weight: 300;
}

div.imagesCollumnRight p{
  font-size: 1.2rem;
  font-weight: 100;
}

div.fitSection{
  width: 100%;
}

div.leftSection img{
  width: 150px;
  height: auto;
  float: left;
  margin: 0rem 1.5rem .8rem 0;
}

div.leftSection{
  width: 100%;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

div.leftSection h4{
  margin-bottom: 1rem;
}

div.rightSection img{
  width: 160px;
  height: auto;
  float: right;
  margin: 0rem 0 1rem 1.5rem;
}

div.rightSection{
  width: 100%;
  line-height: 1.5rem;
}

div.rightSection h4{
  margin-bottom: 1rem;
}

div.borderGray{
  border-bottom: 1px solid #ddd;
  width: 80%;
  margin: 3rem auto;
}

div.boxCollumnLeft h4{
  font-size: 1.8rem;
  font-weight: 100;
}

div.boxCollumLeft{
  width: 100%;
} 

div.boxCollumnRight{
  width: 100%;
  padding: 1.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: .3rem;
}

div.boxCollumnRight{
  font-size: 1.2rem;
  font-weight: 100;
}

.footer-nav-social{
  display: flex;
  flex-direction: row;
  left: -.1em;
}
/*footer*/
footer{
  text-align: center;
  background-color: #6610f2;
}
.footer-icons:hover {
  background: white;
  border: 1px solid lightblue
}

.footer-icons a.fa-brands:hover,
.footer-icons a.fa:hover {
  color: lightblue; 
}

footer .copyright h4 i {
  color: red;
}

footer .copyright h4 {
  font-size: 1.7rem;
  font-weight: 300;
  color: gray;
  margin: 2em 0 1em;
}

footer .codespace {
  color: green;
  font-weight: bold;
}
